input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0.3rem 0 0.2rem 0;
}

label {
  display: block;
  color: #fff;
}



.searchInput {
  padding: 0.67rem 1rem;
  margin: .2rem;
}